<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskPupkin - {% block title %}{% endblock %}</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}">Новые вопросы</a>
            <a href="{% url 'hot' %}">Популярные вопросы</a>
            <a href="{% url 'ask' %}">Задать вопрос</a>
            <div class="auth-links">
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'signup' %}">Зарегистрироваться</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>