{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="questions-header">
    <h1>{{ title }}</h1>
</div>

{% for question in page_obj %}
<div class="question-item">
    <div class="question-rating">{{ question.rating }}</div>
    <div class="question-content">
        <h3><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h3>
        <p>{{ question.content|truncatewords:30 }}</p>
        <div class="question-meta">
            <span class="answers">{{ question.answers_count }} answers</span>
            {% for tag in question.tags.all %}
            <a href="{% url 'tag' tag.name %}" class="tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% include 'pagination.html' %}
{% endblock %}